<div class="modal-header row" style="text-align: center; margin: 0">
    <div class="col-md-1">
        <a class="btn btn-block btn-info" ng-disabled="!isPrev || image === null" ng-click="prev()">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </div>
    <div class="col-sm-offset-4 col-md-2">
        <a class="btn btn-block btn-warning" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove-circle"></span> Zamknij
        </a>
    </div>
    <div class="col-sm-offset-4 col-md-1">
        <a class="btn btn-block btn-info" ng-disabled="!isNext  || image === null" ng-click="next()">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</div>
<div class="modal-footer row" style="margin: 0; padding: 20px 0;">
    <div class="col-md-12">
        <div ng-show="image !== null" style="padding: 0">
            <img ng-src="{{image}}" style="width: 100%; height: 100%" id="imgF" degrees='angle' rotate="true">
        </div>
        <div ng-show="image === null">
            <div class="progress progress-striped active">
                <progressbar class="progress-striped active" type="info">
                    Trwa ładowanie zdjęcia
                </progressbar>
            </div>
        </div>
    </div>
</div>