.angular-google-map-container {
    height: 400px;
}

.my-datepicker .btn {
    padding: 1px 6px;
}

.customJumbotron {
    padding: 10px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.ui-grid-viewport {
    overflow-x: hidden !important;
    overflow-y: visible !important;
}